.center {
	margin: 0 auto;
	display: table;
}

.color {
	background-color: rgb(51, 122, 183);
}

.large {
	width: 100%;
}

.marginTop {
	margin-top: 5px;
}

.menu {
	color: #45718A!important;
}

.indicator {
	background-color: #45718A!important;
}

.page-footer {
	background-color:  #45718A!important;
}

.footerli {
	height: 35px;
}


.blue-input {
	background-color: #45718A;
}

.collaborateurUl>li {
	list-style-type: circle;
}






/************************************
* Utilisé dans l'intranet
************************************/
.titreGestionUsers {
	text-align: center;
	font-size: 40px;
	text-decoration: underline;
	margin-bottom: 50px;
}
.titreTableauGestionUsers {
	text-align: center;
	font-size: 18px;
	text-decoration: underline;
}
.boutonTableauGestionUsers {
	margin: 0 auto;
	display: none;
}
.titreConges {
	text-align: center;
	font-size: 18px;
	text-decoration: underline;
}